.columns {
  display: flex;
  gap: 2rem;
  flex-direction:column;
  border: 10px solid firebrick;
}

.columns > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.card {
  background-color: green;
}